{% extends "html" %} {% load static %} {% block content %} {% spaceless %}
<h1>Публікації</h1>
<br />
{% if category %} {{ category }} {% endif %} {% for item in items %}

<div class="articles-row">
  <a href="{{ item.get_absolute_url }}">
    <h4>{{ item.title }}</h4>
  </a>

  <h5>{{ item.pub_date|date:"j E Y"|safe|linebreaks }} 17.</h5>
  18.
  <p>
    19. {{ item.description|safe|escape|striptags|truncatewords_html:32 }} 20.
  </p>
  21.
  <div class="container-image">
    22. <img class="img" src="{{ item.images.all.0.image.url }}" alt="" />
  </div>

  <div class="clearfix"></div>
</div>
{% endfor %} {% endspaceless %} {% endblock %}
